/* This is for my photo */

#my-photo {
  height:350px;
  width:350px;
  border-radius: 50%;
  object-fit: cover;
}


/* This is for text inside hello and about */
p {
  color:rgb(0, 0, 0);
  margin: 20px;
    padding: 20px;
    word-wrap: break-word;
    font-family: serif;
    
}

/* This is for button translator*/
.button {
  background-color: #9f9f9f; 
  border: none;
  color: rgb(5, 5, 5);
  padding: 15px 15px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-family: Helvetica;
  margin-top : -80px;
}

/* This ensures button stays right */
.align-right {
  text-align: right;
  border: 0;
}

/* This is for  hello and about */
#index-main-title {
  font-weight: bold;
  font-size: 2em;
  margin: 10;
  padding: 10;
  font-family: Helvetica;
}

/* This is for bolded text inside hello and about me*/
.custom-primary-color {
  color:#020f17;
  font-weight:600;
  font-family: serif;
}

/* Additional CSS rules */
body {
background-color: rgb(255, 255, 255);
vertical-align: middle;
margin: 0;
width: 100%;
height: 100%;
}


/* This is for my contact info*/
div.main {
  position: absolute;
  vertical-align: middle;
  width: 100%;
  margin: auto;
  padding-top: 20px;
}
ul {
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: visible;
}
li {
  display: inline-block;
  color: #000000;
  font-family: monospace;
  width: auto;
  font-size: 18px;
  padding-left: 5%;
  padding-right: 5%;
}

