p {
    color: rgb(184, 182, 182);
}

/* Additional CSS rules */
body {
  background-color: rgb(2, 1, 1);
}

h1 {
  font-size: 24px;
}

.text {
  color: rgb(0, 0, 0);
}

#smiley {
  width: 300px;
  height: auto;
}